extends layout

block content
  .timeline
    form#join-form(action='/auth/join' method='post')
      .input-group
        label(for='join-email') e-mail
        input#join-email(type='email' name='email')
      .input-group
        label(for='join-nick') nickname
        input#join-nick(type='text' name='nickname')
      .input-group
        label(for='join-password') password
        input#join-password(type='password' name='password')
      .input-group
        label(for='join-money') Holdings
        input#join-money(type='number' name='money')
      if joinError
        .error-message= joinError
      button#join-btn.btn(type='submit') Sign Up
