extends layout

block content
  .timeline
    h2 progress list
        table#good-list
        
      
    for good in goods
        tr
          td= good.name
          td: img(src='/img/' + good.img)
          td= good.price
          td.time(data-start=good.createdAt data-end=good.end)
          td: a.enter.btn(href='/good/' + good.id) 
  script(src='https://cdnjs.cloudflare.com/ajax/libs/event-source-polyfill/0.0.9/eventsource.min.js')
  script.
    var es = new EventSource('/sse');
    